<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">

    <div class="row" layout:fragment="content">


        <div class="row">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">ACCESS DENIED!</h4>
                <p>У вас нет доступа к страницам, предназначенным для администратора</p>
                <hr>
                <p class="mb-0">Если вы являетесь администатором, то сообщите об этой ошибке по почте bitlab@gmail.com</p>
            </div>
        </div>


    </div>
</html>