<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add-student</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="col-md-2">
    <a class="navbar-brand" href="/home" style="margin-left: 10%">Students List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse col-md-3" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/student/add-student">Add Student</a>
      </li>
    </ul>
  </div>
</nav>
<p></p>

<div class="container" th:value="${student}">
  <div class="row">
    <form th:action="@{'/student/update-student'}" method="post">
      <input type="hidden" name="student-id" th:value="${student.getId()}">
      <div class="form-group">
        <label class="form-label">NAME:</label>
        <input class="form-control" type="text" name="student-name" th:value="${student.getName()}">
      </div>
      <br>
      <div class="form-group">
        <label class="form-label">SURNAME:</label>
        <input class="form-control" type="text" name="student-surname" th:value="${student.getSurname()}">
      </div>
      <br>
      <div class="form-group">
        <label class="form-label">EXAM:</label>
        <input class="form-control" type="number" name="student-exam" th:value="${student.getExam()}">
      </div>
      <br>
      <div class="form-group">
        <label class="form-label">MARK:</label>
        <label class="form-control" type="number" name="student-exam" th:text="${student.getMark()}">
      </div>
      <br>
      <div class="form-group">
        <button class="btn btn-primary">UPDATE</button>
      </div>
    </form>
    <p></p>

    <div class="row">
      <div class="col-md-1">
        <form th:action="@{'/student/delete-student'}" method="post">
          <input type="hidden" name="student-id" th:value="${student.getId()}">
          <div class="form-group">
            <button class="btn btn-danger">DELETE</button>
          </div>
        </form>
      </div>
      <div class="col-md-1">
        <a href="/home" class="btn btn-light">CANCEL</a>
      </div>
    </div>

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>
</html>