<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout-frame.html">

<!--Cards-->
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-stretch" th:each="request:${requests}">
                    <div class="card mt-3" style="width: 32rem" >
                        <div class="card-body">
                            <div class="card-title" name="user-name">
                                <div style="display: flex">
                                    <h5 th:if="${request.handled == false}" style="color:red;" th:text="#{label.statusNewRequest}"></h5>
                                    <label th:text="#{label.requestFrom}">Заявка от</label>
                                </div>
                                <h5 th:text="${request.userName}"></h5>
                            </div>

                            <div class="card-subtitle mb-2 text-muted" name="course-name">
                                <label th:text="#{label.course}"></label>
                                <p class="card-subtitle mb-2 text-muted" th:text="${request.course.description}"></p>
                            </div>
                            <div class="card-text" name="user-commentary">
                                <label th:text="${request.commentary}"></label>
                            </div>
                            <div class="card-title" name="user-phone"><h6 th:text="${request.phone}"></h6></div>
                            <a th:href="@{'/application/details/' + ${request.id}}" class="card-link" th:text="#{label.details}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>