<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout-frame.html">

<!--Application form-->
    <div layout:fragment="content">
        <div class="container">
            <div class="row mt-5">
                <div class="col-6 offset-3">
                    <form th:action="${'/application/process'}" method="post">
                        <input type="hidden" name="user-id" th:value="${applicationRequest.getId()}">
                        <h5 th:if="${applicationRequest.isHandled() == false}" style="color:red;">*** Новая необработанная заявка ***</h5>
                        <h5 th:unless="${applicationRequest.isHandled() == false}" style="color:green;">Обработанная заявка</h5>
                        <div class="form-group">
                            <label>ФИО:</label>
                            <input type="text" class="form-control" name="user-name" placeholder="Введите ваше ФИО"
                                   th:value="${applicationRequest.getUserName()}">
                        </div>
                        <div class="form-group">
                            <label>Курс:</label>
                            <input type="text" class="form-control" name="course-name"
                                   th:value="${applicationRequest.getCourseName()}">
                        </div>
                        <div class="form-group">
                            <label>Телефон:</label>
                            <input type="text" class="form-control" placeholder="+7(7__) ___ __ __" name="user-phone"
                                   th:value="${applicationRequest.getPhone()}">
                        </div>
                        <div class="form-group">
                            <label>Комментарии:</label>
                            <textarea type="text" class="form-control" name="user-commentary" placeholder="Добавьте комменатрий"
                                      th:text="${applicationRequest.getCommentary()}"></textarea>
                        </div>
                        <br>
                        <div class="form-group" th:if="${applicationRequest.isHandled() == false}">
                            <button class="btn btn-success">Обработать заявку</button>
                        </div>
                    </form>
                    <br>
                    <form th:action="${'/application/delete'}" method="post">
                        <input type="hidden" name="user-id" th:value="${applicationRequest.getId()}">
                        <button class="btn btn-danger">Удалить заявку</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>