<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout-frame.html">

<!--Cards-->
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-stretch" th:each="request:${handledRequests}">
                    <div class="card mt-3" style="width: 32rem">
                        <div class="card-body">
                            <div class="card-title" name="user-name">
                                <h5 th:if="${request.handled == false}" style="color:red;">*(Новая)</h5>
                                Заявка от
                                <h5 th:text="${request.userName}"></h5>
                            </div>

                            <div class="card-subtitle mb-2 text-muted" name="course-name">Курс: <p
                                    class="card-subtitle mb-2 text-muted" th:text="${request.course.description}"></p></div>
                            <div class="card-text" name="user-commentary" th:text="${request.commentary}"></div>
                            <div class="card-title" name="user-phone"><h6 th:text="${request.phone}"></h6></div>
                            <a th:href="@{'/application/details/' + ${request.id}}" class="card-link">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>