<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout-frame.html">

<!--Main tasks list-->
    <div layout:fragment="content">
        <div class="container form-control mt-3">
            <div class="row">
                <h4>Main tasks</h4>
            </div>
            <div class="row">
                <div class="col-md-3" th:each="request:${requests}">
                    <div class="input-group" >
                        <a th:href="@{'/application/details/' + ${request.getId()}}" class="btn btn-primary rounded-0" th:text="${request.getUserName()}"></a>
                        <form th:action="${'/application/task-delete'}" method="post" class="formOne">
                            <input type="hidden" name="user-id" th:value="${request.getId()}">
                        </form>
                        <button class="btn btn-primary rounded-0" id="deleteButton" onclick="sendDelete(event)">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function sendDelete(event){
            const formOne = event.target.closest('.input-group').querySelector('.formOne');
            formOne.action='/application/task-delete';
            formOne.method='POST';
            formOne.submit();
        }
    </script>

</html>