<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">

    <div class="row" layout:fragment="content">
        <form th:action="@{'/request/add-course'}" method="post">
            <div class="form-group">
                <label class="form-label">COURSE-NAME:</label>
                <input type="text" class="form-control" name="course-name">
            </div>
            <div class="form-group">
                <label class="form-label">COURSE-DESCRIPTION:</label>
                <input type="text" class="form-control" name="course-description">
            </div>
            <div class="form-group">
                <label class="form-label">COURSE-PRICE:</label>
                <input type="number" class="form-control" name="course-price">
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-success">Add course</button>
            </div>
        </form>
    </div>

</html>